In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({
'key': ['A', 'B', 'C'],
'value1': [1, 2, 3]
})

df2 = pd.DataFrame({
'key': ['A', 'B', 'D'],
'value2': [4, 5, 6]
})

In [3]:
df3 = pd.merge(df1, df2, on='key', how='inner')

In [4]:
df3

  key  value1  value2
0   A       1       4
1   B       2       5

In [5]:
df_outer = pd.merge(df1, df2, on='key', how='outer')
df_outer

  key  value1  value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0

In [6]:
df1 = pd.DataFrame({
'A': ['foo', 'bar'],
'B': [1, 2]
})

df2 = pd.DataFrame({
'A': ['baz', 'qux'],
'B': [3, 4]
})

In [7]:
df_conc = pd.concat([df1, df2])
df_conc

     A  B
0  foo  1
1  bar  2
0  baz  3
1  qux  4

In [10]:
df1 = pd.DataFrame({
'chiave1': ['K0', 'K1', 'K2'],
'chiave2': ['K0', 'K1', 'K0'],
'A': ['A0', 'A1', 'A2']
})

df2 = pd.DataFrame({
'chiave1': ['K0', 'K1', 'K3'],
'chiave2': ['K0', 'K0', 'K0'],
'B': ['B0', 'B1', 'B3']
})

In [12]:
df1
df2

  chiave1 chiave2   B
0      K0      K0  B0
1      K1      K0  B1
2      K3      K0  B3

In [9]:
df_merged = pd.merge(df1, df2, on=['chiave1', 'chiave2'], how='left')
df_merged

  chiave1 chiave2   A    B
0      K0      K0  A0   B0
1      K1      K1  A1  NaN
2      K2      K0  A2  NaN

In [13]:
df1 = pd.DataFrame({
'A': ['A0', 'A1', 'A2'],
'B': ['B0', 'B1', 'B2']
}, index=[0, 1, 2])

df2 = pd.DataFrame({
'C': ['C0', 'C1', 'C2'],
'D': ['D0', 'D1', 'D2']
}, index=[0, 2, 3])

df1
df2

    C   D
0  C0  D0
2  C1  D1
3  C2  D2

In [14]:
df_conc = pd.concat([df1, df2], axis=1)
df_conc

     A    B    C    D
0   A0   B0   C0   D0
1   A1   B1  NaN  NaN
2   A2   B2   C1   D1
3  NaN  NaN   C2   D2